<p style="text-align:center">Hello [Dojo]</p>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <h4 class="navbar-brand  mb-0 h1" >UNISYS - ServiceNow | </h4>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav nav-link " [routerLink]="['/trainer']">Trainer</a>
              </li>
              <li class="nav-item">
                <a class="nav nav-link " [routerLink]="['/tester']">Tester</a>
              </li>

              <li class="navbar-brand" > | </li>
              <li class="nav-item" style="margin-left:10px">
                  <a class="nav nav-link ">{{currentFileName}}</a>
              </li>
  
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <input
            type="file"
            style="display: none"
            (change)="onFileOpen($event)"
            #hiddenfileinput
            />
            <button class="btn btn-info btn-sm" (click)="hiddenfileinput.click()">
              Open File
            </button>
            &nbsp;
          </li>
          <li class="nav-item">
            <button class="btn btn-info btn-sm" (click)="onFileSave($event)">
              Save File
            </button>
            &nbsp;
          </li>
          
          <li class="nav-item">
              <button *ngIf="isDirty()" class="btn btn-sm btn-danger ml-auto" (click)="applyAutoSave($event)">Auto Save</button>
              &nbsp;
          </li>

        </ul>
    </div>
</nav>
