<div class="row">
  <div class="col-sm-12" *ngFor="let item of sentence.attributions">
    <div class="card " [ngClass]="{'border-primary': isCurrentAttribution(item)}" (click)="setCurrentAttribution(item)">


      <div class="card-body">

        <form class="fields-container" [formGroup]="formData">
          <h5 class="card-title">
            <button class="btn-sm btn-info" style="margin-right:10px" (click)="itemSeverity(item)">
              Copy Severity Text
            </button>
            <mat-form-field class="text-width">
              <input matInput placeholder="What is the text you used to determine severity?"
                formControlName="severityText">
            </mat-form-field>

            <mat-form-field class="float-right">
              <mat-label>Severity Value</mat-label>
              <mat-select formControlName="severityValue"  (selectionChange)="severityChanged($event)">
                <mat-option *ngFor="let choice of getSeverityValues()" [value]="choice">
                  {{choice}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </h5>

<!-- 
          <h5 class="card-title" [class]="item.type">
            <button class="btn-sm btn-info" style="margin-right:10px" (click)="itemPriority(item)">
              Set Priority
            </button>
            <mat-form-field class="text-width">
              <input matInput placeholder="What is the text you used to determine priority?"
                formControlName="priorityText">
            </mat-form-field>

            <mat-form-field class="float-right">
              <mat-label>Priority Value</mat-label>
              <mat-select formControlName="priorityValue" [(value)]="priorityValue" (selectionChange)="priorityChanged($event)">
                <mat-option *ngFor="let choice of getpriorityValues()" [value]="choice">
                  {{choice}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </h5> -->

          <button class="btn-sm btn-success float-right" style="margin-right:10px" (click)="attributionDone()">
            Completed
          </button>
          <button class="btn-sm btn-danger  float-right" style="margin-right:10px" (click)="itemClear(item)">
            Clear
          </button>
        </form>

      </div>
    </div>
  </div>
</div>