.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
    /* background-color: DodgerBlue; */
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 80%;
    margin: 10px;
    text-align: left;
    /* line-height: 75px; */
    font-size: 20px;
  }