<p>
    <span class="float-right badge badge-info" style="margin-right: 20px;">severity: {{incident.severity}}</span>
    <!-- <span>priority: {{incident.priority}}</span> -->
    <app-sentence *ngFor="let sentence of getSentences()" [sentence]="sentence"  [incident]="incident"></app-sentence>
</p>
