<div >
    <span (click)="doOpen()"  [innerHTML]="sentence.textMarkup()"></span>
  </div>
  
  
  <ng-container  *ngIf="isSelected() " >
    <app-attribution  [sentence]="sentence" [incident]="incident"></app-attribution>
  </ng-container >
