<p>
    <span class="float-right badge badge-info" style="margin-right: 20px;">original severity: {{incident.severity}}</span>
    <br/>
    <span class="float-right badge" [ngClass]="predictClass()" style="margin-right: 20px;">predicted severity: {{incident.severityPredict}}</span>
    <app-phrase *ngFor="let sentence of getSentences()" [sentence]="sentence"  [incident]="incident"></app-phrase>
</p>

